html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}
.header,
.header .webix_button {
  background-color: #657584;
}

.header .webix_el_box,
.header .webix_button,
.header .webix_button .webix_icon_btn {
  color: #ffffff;
}

.header .webix_button {
  text-align: end;
}

.side-bar,
.side-bar .webix_template {
  background-color: #eeeeee;
}
.side-bar .webix_view {
  border: 0;
}

.side-bar .connection-status .webix_template span {
  margin-left: 2rem;
  color: #409e53;
  height: 2rem;
}

.form-grid {
  display: grid;
  grid-template: 1fr/1fr 5fr;
}
.form-button--add .webix_button {
  background-color: #1ca1c1;
  color: #ffffff;
}

.footer {
  text-align: center;
}
